html {
    color:rgba(255, 255, 255, 0.668);
    padding:0;
    margin:0;
    box-sizing:border-box;
    overflow-y:hidden;
    background:black;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --accent-color:#e6007e;
    --shadow-color:#626262;
}


@font-face {
    font-family:norseBold;
    src:url(fonts/Norse-Bold.otf)
}


.leaf-container {
    background-image:url('img/milad-fakurian-nY14Fs8pxT8-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:40%;
    height:100vh;
    position:relative;
}







p {
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

span {
    font-style:italic;
}

.some-text {
    width:45%;
    position:absolute;
    top:100px;
    margin-left:45%;
    font-size:1.3rem;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

@media(max-width:400px) {
    :root {
        font-size:8px;
    }
}

.login-card{
    width:100%;
    height:35%;
    background-color:rgb(0, 0, 0);
    box-shadow: 0 1px 8px #303030;
}

.container{
    width:60%;
    position:absolute;
    right:0;
    top:312px;
    height:100vh;
}

.header {
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-weight:bold;
    font-size:1.3rem;
    padding:1em;
    padding-left:3.1em;
}

.fninput {
    position:absolute;
    top:85px;
    margin-left:4.1em;
}

.firstname {
    font-family:'Open Sans', sans-serif;
    position:absolute;
    top:60px;
    left:10px;
    margin-left:5em;
    font-size:0.7rem;
}

.lninput {
    position:absolute;
    top:85px;
    margin-left:27em;
}

.lastname {
    font-family:'Open Sans', sans-serif;

    position:absolute;
    top:60px;
    margin-left:38.6em;
    font-size:0.7rem;
}
input {
    border:1px solid #303030;
    background-color:black;
    border-radius:4px;
    
}
input:focus {
    border:1px solid var(--accent-color);
    outline:none;

}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    font-family:'Open Sans', sans-serif;
}




.emailinput {
    position:absolute;
    top:150px;
    margin-left:4.1em;
}

.email {
    font-family:'Open Sans', sans-serif;

    position:absolute;
    top:130px;
    left:10px;
    margin-left:5em;
    font-size:0.7rem;
}

.telinput {
    position:absolute;
    top:150px;
    margin-left:27em;
}

.tel {
    font-family:'Open Sans', sans-serif;

    position:absolute;
    top:130px;
    margin-left:38.6em;
    font-size:0.7rem;
}

.pwdinput {
    position:absolute;
    top:220px;
    margin-left:4.1em;
}

.pwd {
    font-family:'Open Sans', sans-serif;

    position:absolute;
    top:200px;
    left:10px;
    margin-left:5em;
    font-size:0.7rem;
}

.cpwdinput {
    position:absolute;
    top:220px;
    margin-left:27em;
}

.cpwd {
    font-family:'Open Sans', sans-serif;

    position:absolute;
    top:200px;
    margin-left:38.6em;
    font-size:0.7rem;
}
input {
    width:35%;
    height:3%;
}

.btn {
    position:absolute;
    top:300px;
    left:72px;
    padding:0.5em 2.5em;
    background-color:black;
    border:2px solid var(--accent-color);
    color:var(--accent-color);
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    border-radius:8px;
    font-size:1.2em;
}

.btn:hover {
    background-color:var(--accent-color);
    color:black;
}

.login {
    font-weight:400;
    position:absolute;
    top:370px;
    left:72px;
}

.link {
    font-style:normal;
    color:var(--accent-color);

}

.link:hover {
    text-decoration:underline;
}

#invalid {
    position:absolute;
    top:255px;
    margin-left:6.5em;
    color:red;
    font-family:'Open Sans', sans-serif;
    font-weight:350;
    font-size:0.6rem;
    left:10px;
    
}

label {
    color:var(--shadow-color);
}

input {
    color:var(--shadow-color);
}